body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 40rem;
}

.calculator {
  width: 400px;
  height: 500px;
  padding: 1rem;
  background-color: ghostwhite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 0.2rem solid;
  border-color: rgb(150, 150, 150);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 30%;
  text-align: right;
  background-color: white;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  border: 0.2rem solid;
  border-color: rgb(150, 150, 150);
}

.display h3 {
  color: rgb(100, 100, 100);
}

.button-grid {
  height: 65%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}

.btn {
  border-radius: 0.5rem;
  border: 0.1rem solid;
  border-color: rgb(150, 150, 150);
}

.wideBtn {
  grid-column: span 2;
}

.regularBtn {
  grid-column: span 1;
}

.blue {
  background-color: aquamarine;
}

.red {
  background-color: thistle;
}

.green {
  background-color: rgb(200, 255, 200);
}
